body {
  background-image: url('../images/background-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container,
.stats,
.statsBox,
.statsBox > *,
.gameArea{
  display: flex;
}

.stats,
.statsBox,
.statsBox > * {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container,
.stats,
.gameArea{
  height: 87vh;
}
* {
  box-sizing: border-box;
  font-size: 40px;
  font-family: 'NBA Lakers';
}


header {
  display: flex;
  height: 13vh;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
}

.stats{
  width: 20%;
}

.stats > * {
  height: 15%;
  width: 80%;
}

.statsBox{
  text-align: center;
  border-radius: 15px;
  border: 3px solid black;
}

.text {
  color: #552583;
}

.number{
  color: #fdba21;
  opacity: 70%;
}

.gameArea{
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 2% 2%;
}

.modalContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 400px;
  width: 600px;
  background-image: url(https://media.giphy.com/media/26vIfKDKOw34lHRks/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid #c09d3b;
}

.card{
  height: 32%;
  width: 16%;
  position: relative;
  background-color: black;
  border: 1px solid black;
  border-radius: 6%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.card.clicked:hover {
  cursor: initial;
  transform: scale(1) rotateY(180deg);
}

.card-front{
  transform: rotateY(-180deg);
}

.clicked{
  transform: scale(1) rotateY(180deg);
}

.card-front,
.card-back{
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5%;
  backface-visibility: hidden;
}

.card-back{
  background-image: url('../images/basketball.jpeg');
  border-radius: 4%;
}

.a-davis {
  background-image: url('../images/head-AD.jpeg');
}
.d-green {
  background-image: url('../images/head-green.jpeg');
}
.d-howard {
  background-image: url('../images/head-dwight.png');
}
.kcp {
  background-image: url('../images/head-kcp.png');
}
.kuz {
  background-image: url('../images/head-kuz.jpeg');
}
.lebron {
  background-image: url('../images/head-lebron.jpeg');
}
.mcgee {
  background-image: url('../images/head-McGEE.png');
}
.rondo {
  background-image: url('../images/head-rondo.png');
}
.a-caruso {
  background-image: url('../images/head-caruso.jpeg');
}

.resetClick{
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  text-align: center;
  color: #fdba21;
  position: absolute;
  top: 10%;
  left: 35%;
}

.resetClick:hover {
  cursor: pointer;
  transform: scale(1.10);
}

.beginningModal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://media.giphy.com/media/26ufm9YcCl3Cb7dwk/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.begModalText{
  color: white;
  font-size: 45px;
  text-align: center;
}
.begModalPlay{
  color: white;
  text-align: center;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  animation: .5s linear .25s infinite alternate grow;
}

.begModalPlay:hover {
  cursor: pointer;
  transform: scale(1.20);
}

@keyframes grow {
  from { opacity: 1;}
  to { opacity: .5;}
}

.hidden{
  display: none;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    body{
      position: fixed;
      height: 100%;
      width: 100%;
      background-size: auto;
    }
    header{
      display: none;
    }
    .stats,
    .gameArea {
      width: 100%;
    }
    .container{
      flex-direction: column;
      height: 80vh;
    }
    .stats,
    .gameArea{
      flex-direction: row;
    }
    .stats{
      height: 20vh;
    }
    .statsBox{
      height: 100%;
    }
    .gameArea{
      height: 80vh;
    }
    .text{
      font-size: 24px;
    }
    .number{
      font-size: 30px;
    }
    .begModalText{
      font-size: 30px;
    }
    .card-back{
      background-image: url('../images/basketball.jpeg');
      background-repeat: no-repeat;
      border-radius: 4%;
      background-size: 100px 100px;
    }
    .a-davis {
      background-image: url('../images/head-AD.jpeg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .d-green {
      background-image: url('../images/head-green.jpeg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .d-howard {
      background-image: url('../images/head-dwight.png');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .kcp {
      background-image: url('../images/head-kcp.png');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .kuz {
      background-image: url('../images/head-kuz.jpeg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .lebron {
      background-image: url('../images/head-lebron.jpeg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .mcgee {
      background-image: url('../images/head-McGEE.png');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .rondo {
      background-image: url('../images/head-rondo.png');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .a-caruso {
      background-image: url('../images/head-caruso.jpeg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    body {
      position: fixed;
      height: 100%;
      width: 100%;
      background-size: auto;
    }
    .lakersLogo {
      width: 60%;
    }
    .text{
      font-size: 20px;
    }
    .number{
      font-size: 20px;
    }
}


/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    body{
      position: fixed;
      height: 100%;
      width: 100%;
      background-size: auto;
    }
    header{
      display: none;
    }
    .stats,
    .gameArea {
      width: 100%;
    }
    .container{
      flex-direction: column;
      height: 80vh;
    }
    .stats,
    .gameArea{
      flex-direction: row;
    }
    .stats{
      height: 20vh;
    }
    .statsBox{
      height: 100%;
    }
    .gameArea{
      height: 80vh;
    }
    .text{
      font-size: 24px;
    }
    .number{
      font-size: 35px;
    }
    .begModalText{
      font-size: 40px;
    }
    .card-back{
      background-image: url('../images/basketball.jpeg');
      background-repeat: no-repeat;
      border-radius: 4%;
      background-size: 100px 100px;
    }
    .a-davis {
      background-image: url('../images/head-AD.jpeg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .d-green {
      background-image: url('../images/head-green.jpeg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .d-howard {
      background-image: url('../images/head-dwight.png');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .kcp {
      background-image: url('../images/head-kcp.png');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .kuz {
      background-image: url('../images/head-kuz.jpeg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .lebron {
      background-image: url('../images/head-lebron.jpeg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .mcgee {
      background-image: url('../images/head-McGEE.png');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .rondo {
      background-image: url('../images/head-rondo.png');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
    .a-caruso {
      background-image: url('../images/head-caruso.jpeg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    body {
      position: fixed;
      height: 100%;
      width: 100%;
      background-size: auto;
    }
    .lakersLogo {
      width: 60%;
    }
    .text{
      font-size: 20px;
    }
    .number{
      font-size: 17px;
    }
}
