body {
  margin: auto;
  overflow: hidden;
  position: relative;
  background-image: url('../images/background-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.container,
.stats,
.statsBox,
.statsBox > *,
.gameArea{
  display: flex;
}

.stats,
.statsBox,
.statsBox > * {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container,
.stats,
.gameArea{
  height: 87vh;
}
* {
  box-sizing: border-box;
  font-size: 40px;
}


header {
  display: flex;
  height: 13vh;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  /* border: 1px solid black; */
}

.stats{
  /* border: 1px solid black; */
  width: 20%;
}

.stats > * {
  /* border: 1px solid black; */
  height: 15%;
  width: 80%;
}

.statsBox{
  text-align: center;
  border-radius: 15px;
  border: 3px solid black;
}

.text {
  color: #552583;
}

.number{
  color: #fdba21;
  opacity: 70%;
}

.gameArea{
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 2% 2%;
}

.modalContainer{
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: white;
  height: 50%;
  width: 50%;
}

.card{
  height: 32%;
  width: 16%;
  position: relative;
  background-color: black;
  border: 1px solid black;
  border-radius: 6%;
}

.card-front,
.card-back{
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5%;
}

.card-back{
  background-image: url('../images/basketball.jpeg');
  border-radius: 4%;
  /* opacity: 0.5; */
}

.a-davis {
  background-image: url('../images/head-AD.jpeg');
}
.d-green {
  background-image: url('../images/head-green.jpeg');
}
.d-howard {
  background-image: url('../images/head-dwight.png');
}
.kcp {
  background-image: url('../images/head-kcp.png');
}
.kuz {
  background-image: url('../images/head-kuz.jpeg');
}
.lebron {
  background-image: url('../images/head-lebron.jpeg');
}
.mcgee {
  background-image: url('../images/head-McGEE.png');
}
.rondo {
  background-image: url('../images/head-rondo.png');
}
.a-caruso {
  background-image: url('../images/head-caruso.jpeg');
}

.hidden{
  display: none;
}


/* ---- ipad 1,2,Mini, and Air ----- */
/* @media only screen and (max-device-width: 1024px) and (orientation: portrait), (max-width: 560px) {

  header{
    display: none;
  }
  .stats,
  .gameArea,
  .bottomContainer{
    width: 100%;
  }
  .container{
    flex-direction: column;
    height: 80vh;
  }
  .stats,
  .gameArea{
    flex-direction: row;
  }
  .stats{
    height: 10vh;
  }
  .statsBox{
    height: 100%;
  }
  .gameArea{
    height: 70vh;
  }
  .bottomContainer{
    height: 20vh;
  }

} */


/* ------ iphone6, 6s, 7 and 8 ----- */
/* @media only screen and (max-device-width: 414px) and (orientation: portrait),
(max-device-width: 823px) and (orientation: landscape),
(max-width: 950px) and (orientation: landscape) {
    * {
        font-size: 13px;
    }
} */
